head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')

  link(rel='stylesheet' href='../../stylesheets/login.css')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

body#LoginForm
  .container
    .login-form
      .main-div
        .panel
          if info && info.message 
            div.alert.alert-danger
              = info.message
          h2 Admin Login
          p Por favor, ingrese su email y contraseña
        form#Login(action='/login' method='post')
          .form-group
            input#username.form-control(type='email' placeholder='Email Address' name="username")
          .form-group
            input#password.form-control(type='password' placeholder='Password' name="password")
          .forgot
            a(href='/forgotPassword') Olvidé mi password
          .redes    
            a.fa.fa-google(href='/auth/google') Login con Google
            a.fa.fa-facebook(href='/auth/facebook')
          a.btn.btn-dark.fa.fa-google(href='/auth/google') Login con Google
          button.btn.btn-primary(type='submit') Login

       

